#####################################################
*.sketch
*.fig
*.xd

#####################################################
.DS_Store
.prettierignore
.vscode
.env


#########################
design
design-guide.md